@model LMS.Models.HeaderViewModel
<header id="lmsheader">
    <div class="container body-content" style="height:50px;">
        <div class="row">
            <div class="col-sm-4">
                @if (!Model.Empty)
                {
                    <span>Course: Model.CourseName</span>
                }
            </div>
            <div class="col-sm-8">
                @if (!Model.Empty)
                {
                    @Model.Description
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (!Model.Empty)
                {
                    <span>Start Date: @Html.DisplayFor(model => model.StartDate) </span>
                }
            </div>
        </div>
    </div>
</header>
