@model LMS.ViewModels.Module.ModuleViewModel
@using LMS.ViewModels.Activity

<div id="@Model.Module.Id">
    <div class="panel panel-default">
        @Html.Partial("~/Views/Modules/_ModuleInfoEditDel.cshtml",Model)
        <div id="@Model.CollapseId" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("~/Views/Activities/_Activities.cshtml", new ActivityTableViewModel()
                {
                    Activities = Model.Module.Activities,
                    ModuleId = Model.Module.Id
                })
            </div>
        </div>
    </div>
</div>