@model LMS.Models.CoursesViewModel
@using LMS.Models
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Header", Model.Header)

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "coursestable"
    }))
{

    <h1>Show Only Active Courses</h1>

    <label class="switch">
        <input type="checkbox" checked name="active">
        <span class="slider round"></span>
    </label>
    <input type="search" , value="enter name" , name="name" ,id="name" />
    <input type="submit" , value="Search by Name" />
}

<div class="container body-content">
    <div class="row">
        <div class="col-sm-10">
            Courses
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Add Course", "Create")
        </div>
    </div>
</div>

@Html.Partial("_TableView", Model.Courses)