body {
	padding-bottom: 20px;
	background-attachment: fixed;
	background-position: center;
	/*color: #fff;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#lmsheader {
    background-color: black;
    color:whitesmoke;
}

div.container {
    height: 500px;
}

.hideme {
	visibility: hidden;
}

.tablebackground {
	background-color: rgba(62, 131, 242,0.75);
	border-radius: 25px;
	padding-bottom: 15px;
}

#sidepanel {    
    background-color: #343a40;
    color: white;
}

#sidepanel > .row {
    padding:20px;
}